.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 26px;
  color: #e9041e;
  border-color: #e9041e;
  border-style: double;
  border-width: thick;
}

.app-footer {
  margin: 0;
  background-color: #111111;
  color: lightblue;
  text-align: right;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 10px 10px;
  padding: 2px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  margin: 0 5px;
}

.card {
  margin: 5px;
  padding: 5px;
  border-style: double;
  border-color: teal;
  background-color: cornflowerblue;
  flex: flex;
  text-align: center;
  vertical-align: middle;
}

div.card {
  color: antiquewhite;
}

.histogram, .linechart {
  height: 350px;
  width: 500px;
}

.piechart {
  height: 350px;
  width: 350px;
}

/**
séparation entre chaque groupe de données (Répartition, Distribution, etc.)
*/
.group {
  /** couleur d'accompagnement SG */
  background-color: #ddc6b6;
  color: blue;
  margin: 0.25em;
}